body,
html {
  margin: 0;
}

.all-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container-child {
  flex: 1;
}

.addidas-logo {
  width: 50%;
  margin: 49px 236px 15px 165px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.left-bottom-container {
  width: 445px;
  height: 404px;
  margin: 137px 110px 162px 165px;
}

h2,
p {
  margin: 0;
  font-family: "AdiHaus";
  font-style: normal;
}

h2:nth-of-type(1) {
  font-weight: 400;
  font-size: 48px;
  line-height: 42px;
  letter-spacing: 5px;
  color: #cd3a24;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2:nth-of-type(2) {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 5px;
  color: #423a3a;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  line-height: 28px;
  margin-top: 20px;
  color: #333333;
}

@font-face {
  font-family: "AdiHaus";
  src: URL("https://assets.codepen.io/6060109/adihaus_regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

form {
  display: flex;

  margin: 20px 0 40px;
}

input[type="text"] {
  width: 75%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
}

input[type="submit"] {
  width: 20%;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(44, 42, 42);
  font-family: "AdiHaus";
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 3px;
}

.main-pic {
  background: url("https://assets.codepen.io/6060109/athlete-girl.png")
    no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 43% 99%);
}
/* 
img.main-girl {
  background-size: cover;
} */
